<div>
  <div class="header">
    <h1 class="title">Life Travel</h1>
    <menu class="menu">
      <ul>
        <li class="indice">
          <a routerLink="/clientes">Cliente</a>
          <a routerLink="/hoteles">Hoteles</a>
          <a routerLink="/planes">Nombre de los Planes</a>
          <a routerLink="/dias">Cantidad de Dias</a>
          <a routerLink="/detalles">Detalles de Hoteles</a>
          <a routerLink="/carrito_compras">Carrito compras</a>
          <a routerLink="/comprobante_pago">Comprobantes</a>
        </li>
      </ul>
    </menu>
  </div>
  <div>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<app-prenda></app-prenda>
